body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #800020;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-button {
    text-decoration: none; 
}

.logo img {
    max-width: 100px; 
}

.top-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.button {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    color: #333;
    margin-top: 20px;
}

p {
    margin-bottom: 20px;
}
