html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#800020, #370b0b);
}
.login-box {
    width: 400px;
    padding: 40px;
    position: relative;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.login-box .user-box {
    position: relative;
}
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #960428;
    font-size: 12px;
}
/* slide animation CSS */
.login-box-hidden {
transform: translate(-50%, 100vh); /* Initially off-screen */
opacity: 0;
transition: all 0.5s ease-in-out;
}

.login-box-visible {
transform: translate(-50%, -50%); /* Centered */
opacity: 1;
transition: all 0.5s ease-in-out;
}

.login-box button[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #800020;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.login-box button[type="submit"]:hover {
    background-color: #5c0017;
    transform: scale(1.03); 
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; 
}